{% extends "base.html" %}
{% block title %}Attendees{% endblock %}
{% block content %}
{% include "navigation.html" %}

<div class="mt-20 mx-12">
    <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Attendees</h1>
    <div class="mt-12 flex justify-between items-center">
        <input class="uk-input w-[90%]" placeholder="Search..." onkeyup="search(this.value)">
        <button class="uk-button uk-button-primary" uk-toggle="target: #create_drawer"><i class="fa-solid fa-plus"></i> &nbsp; Add</button>
        <script>
            const search = (value) => {
                const allTr = document.querySelectorAll("tr")
                const searchValue = value.toLowerCase()
                allTr.forEach(tr => {
                    if (tr.getAttribute("top") == "yes") return
                    const allTd = tr.querySelectorAll("td")
                    let match = false
                    allTd.forEach(td => {
                        const textValue = td.textContent.toLowerCase()
                        if (textValue.includes(searchValue)) match = true
                    })
                    if (match) tr.style.display = "table-row"
                    else tr.style.display = "none"
                })
                
            }
        </script>
    </div>
    <div class="uk-overflow-auto mt-4">
        <table class="uk-table uk-table-divider">
            <thead>
              <tr top="yes">
                {% for attr in attrs['attributes'] %}
                {% if attr['key'] != 'checkedIn' %}
                <th>{{ attr['key'].title() }}</th>
                {% endif %}
                {% endfor %}
                <th>Checked In</th>
                <th>
                    <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody>
                {% for attendee in attendees %}
                <tr>
                    {% for attr in attrs['attributes'] %}
                    {% if attr['key'] != 'checkedIn' %}
                    <td>{{ (attendee[attr['key']]|string).replace("True", "Yes").replace("False", "No") }}</td>
                    {% endif %}
                    {% endfor %}

                    <td>{{ (attendee['checkedIn']|string).replace("True", "Yes").replace("False", "No") }}</td>

                    <td class="flex items-center justify-end">
                    {% set aId = attendee['$id'] %}
                        {% if not attendee['checkedIn'] %}
                            <form id="checkin_form__{{ aId }}" method="post" action="/hackathon/{{ data['id'] }}/attendees/checkin/{{ attendee['$id'] }}" style="display: hidden;"></form>
                            <button class="uk-button uk-button-primary" onclick="document.getElementById('checkin_form__{{ aId }}').submit()">Check In</button>
                        {% else %}
                            <form id="uncheckin_form__{{ aId }}" method="post" action="/hackathon/{{ data['id'] }}/attendees/uncheckin/{{ attendee['$id'] }}" style="display: hidden;"></form>
                            <button class="uk-button uk-button-default" onclick="document.getElementById('uncheckin_form__{{ aId }}').submit()">Remove Check In</button>
                        {% endif %}
                        <button class="uk-button uk-button-default ml-2" type="button"><i class="fa-solid fa-ellipsis"></i></button>
                        <div class="uk-drop uk-dropdown" uk-dropdown>
                        <ul class="uk-dropdown-nav uk-nav">
                            <li style="cursor: pointer;">
                                <a uk-toggle="target: #updateModal__{{ attendee['$id'] }}">Edit</a>
                            </li>
                            <li style="cursor: pointer;">
                                <a uk-toggle="target: #deleteModal__{{ attendee['$id'] }}" class="uk-text-danger">Delete</a>
                            </li>
                        </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>

<div id="create_drawer" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-padding">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
        
      <h3 class="text-2xl my-8">Add Attendee</h3>
  
      <form action="/hackathon/{{ data['id'] }}/attendees/add" method="post">
        <div class="space-y-4">
            {% for attr in attrs['attributes'] %}
            {% if attr['key'] != "checkedIn" %}
            <div class="uk-margin">
                <label class="uk-form-label">{{ attr['key'] | title }}</label>

                <div class="uk-form-controls">
                {% if form[attr['key']]["type"] != "checkbox" and form[attr['key']]["type"] != "radio" %}

                <div style="display: flex; gap: 5px; align-items: center;">
                <input type="{{ form[attr['key']]["type"] }}" name="{{ attr['key'] }}" id="{{ attr['key'] }}" class="uk-input"

                {% if form[attr['key']]["placeholder"] %}
                placeholder="{{ form[attr['key']]["placeholder"] }}"
                {% endif %}

                {% if form[attr['key']]["default"] %}
                value="{{ form[attr['key']]["default"] }}"
                {% endif %}

                {% if form[attr['key']]["required"] %}
                required="required"
                {% endif %}

                {% if form[attr['key']]["type"] == "range" %}
                min="{{ form[attr['key']]["options"][0] }}" max="{{ form[attr['key']]["options"][1] }}"
                {% endif %}
                
                {% if form[attr['key']]["type"] == "range" %}
                {% set attrkey = attr['key'] %}
                onchange="document.getElementById('{{ attrkey }}__value_add').innerHTML = this.value"
                {% endif %}
                >
                {% if form[attr['key']]["type"] == "range" %}
                <p class="text-foreground" id="{{ attr['key'] }}__value_add">{{ form[attr['key']]["default"] }}</p>
                {% endif %}
                </div>
                </div>

                {% else %}
                {% for option in form[attr['key']]['options'] %}
                <label for="{{ attr['key'] }}__{{ option }}">
                    <input type="{{ form[attr['key']]["type"] }}" name="{{ attr['key'] }}" id="{{ attr['key'] }}__{{ option }}" class="uk-{{ form[attr['key']]["type"] }}"

                {% if form[attr['key']]["default"] == option %}
                checked="checked"
                {% endif %}

                {% if form[attr['key']]["required"] %}
                required="required"
                {% endif %}

                value="{{ option }}"
                />
                {{ option | title }}</label>
                <br />
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            
            <div class="flex w-full pb-4 space-x-4 md:pr-4 mt-4">
                <button type="submit" class="uk-button uk-button-primary">
                    Add Attendee
                </button>
            </div>
        </div>
    </form>
    </div>
</div>
</div>

{% for attendee in attendees %}
<div id="deleteModal__{{ attendee['$id'] }}" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
      <h2 class="uk-modal-title">Delete Attendee</h2>
      <p class="my-4">
        Are you sure you want to remove this attendee? This action is irreversible.
      </p>
      <p class="uk-text-right">
        <form method="post" action="/hackathon/{{ data['id'] }}/attendees/delete/{{ attendee['$id'] }}">
            <button class="uk-modal-close uk-button uk-button-default" type="button">
            Cancel
            </button>
            <button class="uk-button uk-button-danger" type="submit">Delete</button>
        </form>
      </p>
    </div>
</div>

<div id="updateModal__{{ attendee['$id'] }}" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-padding">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        
        <h3 class="text-2xl my-8">Update Attendee</h3>
        <form method="post" action="/hackathon/{{ data['id'] }}/attendees/edit/{{ attendee['$id'] }}">
            <div class="grid gap-4 mb-4 grid-cols-1">
                {% for attr in attrs['attributes'] %}
                {% if attr['key'] != "checkedIn" %}
                <div class="uk-margin"> 
                    <label class="uk-form-label">{{ attr['key'] | title }}</label>

                    <div class="uk-form-controls">
                    {% if form[attr['key']]["type"] != "checkbox" and form[attr['key']]["type"] != "radio" %}
                    
                        <div style="display: flex; gap: 5px; align-items: center;">
                        <input type="{{ form[attr['key']]["type"] }}" name="{{ attr['key'] }}" id="{{ attr['key'] }}_edit" class="uk-input"

                        {% if form[attr['key']]["placeholder"] %}
                        placeholder="{{ form[attr['key']]["placeholder"] }}"
                        {% endif %}

                        value="{{ attendee[attr['key']] }}"

                        {% if form[attr['key']]["required"] %}
                        required="required"
                        {% endif %}

                        {% if form[attr['key']]["type"] == "range" %}
                        min="{{ form[attr['key']]["options"][0] }}" max="{{ form[attr['key']]["options"][1] }}"
                        {% endif %}

                        {% if form[attr['key']]["type"] == "range" %}
                        {% set attrkey_e = attr['key'] + attendee['$id'] %}
                        onchange="document.getElementById('{{ attrkey_e }}__value_edit').innerHTML = this.value"
                        {% endif %}
                        >
                        {% if form[attr['key']]["type"] == "range" %}
                        <p class="text-foreground" id="{{ attr['key'] + attendee['$id'] }}__value_edit">{{ attendee[attr['key']] }}</p>
                        {% endif %}
                        </div>
                        </div>

                        {% else %}
                        {% for option in form[attr['key']]['options'] %}
                        <label for="{{ attr['key'] }}__{{ option }}">
                            <input type="{{ form[attr['key']]["type"] }}" name="{{ attr['key'] }}" id="{{ attr['key'] }}__{{ option }}" class="uk-{{ form[attr['key']]["type"] }}"

                        {% if attendee[attr['key']] == option %}
                        checked="checked"
                        {% endif %}

                        {% if form[attr['key']]["required"] %}
                        required="required"
                        {% endif %}

                        value="{{ option }}"
                        >
                        {{ option | title }}</label>
                        <br />
                        {% endfor %}
                        {% endif %}
                </div>

                {% endif %}
                {% endfor %}
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="uk-button uk-button-primary">
                    Update Attendee
                </button>
            </div>
        </form>
    </div>
</div>    
</div>
{% endfor %}
{% endblock %}