{% extends "base.html" %}
{% block title %}Finances{% endblock %}
{% block content %}
{% include "navigation.html" %}

<div class="mt-20 mx-12">
    <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Finances</h1>
    <div class="flex gap-16 mt-12 mb-2">
        <div class="flex flex-col">
            <p class="text-foreground text-3xl uk-text-bold">{{ total }}</p>
            <p class="text-foreground">Balance</p>
        </div>

        <div class="flex flex-col">
            <p class="text-foreground text-3xl uk-text-bold">{{ raised }}</p>
            <p class="text-foreground">Total Raised</p>
        </div>
    </div>
    <div class="mt-12 flex justify-between items-center">
        <input class="uk-input" placeholder="Search..." onkeyup="search(this.value)">
        <script>
            const search = (value) => {
                const allTr = document.querySelectorAll("tr")
                const searchValue = value.toLowerCase()
                allTr.forEach(tr => {
                    if (tr.getAttribute("top") == "yes") return
                    const allTd = tr.querySelectorAll("td")
                    let match = false
                    allTd.forEach(td => {
                        const textValue = td.textContent.toLowerCase()
                        if (textValue.includes(searchValue)) match = true
                    })
                    if (match) tr.style.display = "table-row"
                    else tr.style.display = "none"
                })
                
            }
        </script>
    </div>
    <div class="uk-overflow-auto mt-4">
        <table class="uk-table uk-table-divider">
            <tbody>
                {% for transaction in transactions %}
                    <tr class="{% if transaction['negative'] %} bg-red-200 dark:bg-red-950 {% else %} bg-green-200 dark:bg-green-950 {% endif %}">
                        <td>{{ transaction['date'] }}</td>
                        <td>{{ transaction['memo'] }}</td>
                        <td>{{ transaction['amt'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between py-4 mb-20">
        <span class="text-sm text-muted-foreground mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing <span class="font-semibold text-foreground">{{ transactions | count }}</span> of <span class="font-semibold text-foreground">?</span></span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8 gap-4">
            <li>
                <a href="/hackathon/{{ data['id'] }}/finances?page={{ page-1 }}" class="uk-button uk-button-default" {% if page == 1 %} disabled {% endif %}>Previous</a>
            </li>
            <li>
                <a href="/hackathon/{{ data['id'] }}/finances?page={{ page+1 }}" class="uk-button uk-button-primary">Next</a>
            </li>
        </ul>
    </nav>
</div> 

{% endblock %}