{% extends "base.html" %}
{% block title %}{{data['name']}}{% endblock %}
{% block content %}
{% include "navigation.html" %}

<div class="mx-auto max-w-screen-sm mb-8 lg:mb-16 bg-gray-50 dark:bg-gray-900">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ data['name'] }}</h2>
    <h2 class="mb-4 text-2xl tracking-tight text-gray-900 dark:text-white">{{ data['startDate'] }} &nbsp; to  {{ data['endDate'] }}</h2>
    <br><br>
<div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
        <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
            <div class="p-5 w-full">
                <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a class="text-2xl">Days Left</a>
                </h3>
                <div>
                    <h3 class="text-black dark:text-white text-xl mb-0">{{ data['daysLeft'] }}</h3>
                </div>
            </div>
        </div> 

        <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
            <div class="p-5 w-full">
                <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <a class="text-2xl">Attendees</a>
                </h3>
                <div>
                    <h3 class="text-black dark:text-white text-xl mb-0">{{ data['attendees'] }}</h3>
                </div>
            </div>
        </div> 
</div>  
</div> 
{% endblock %}