{% extends "base.html" %}
{% block title %}{{data['name']}}{% endblock %}
{% block content %}
{% include "navigation.html" %}

<div class="mt-12 mx-12">
    <h1 class="text-foreground mb-2 text-4xl uk-text-bold">{{ data['name'] }}</h1>
    <p class="text-muted-foreground text-xl mb-4"><b>{{ data['startDate'] }}</b></p>
    <a data-umami-event="navigate" data-umami-event-navigate="public-page" class="uk-link text-foreground hover:text-muted-foreground" href="https://{{ data['slug'] }}.organizeaio.org" target="_blank">Launch Event Page</a>
    <br><br>

    <div class="flex flex-wrap gap-[6px]">
        <div class="uk-width-1-2@m w-[250px] uk-card uk-card-body uk-card-default">
            <h3 class="uk-card-title text-2xl">{{ data['daysLeft'] }}</h3>
            <p class="text-lg">
              Days Left
            </p>
        </div>

        <div class="uk-width-1-2@m w-[250px] uk-card uk-card-body uk-card-default">
            <h3 class="uk-card-title text-2xl">{{ data['attendees'] }}</h3>
            <p class="text-lg">
            Attendees
            </p>
        </div>

        <div class="uk-width-1-2@m w-[250px] uk-card uk-card-body uk-card-default">
            <h3 class="uk-card-title text-2xl">{{ checkedIn }}</h3>
            <p class="text-lg">
            Check Ins
            </p>
        </div>

        <div class="uk-width-1-2@m w-[250px] uk-card uk-card-body uk-card-default">
            <h3 class="uk-card-title text-2xl">{{ counts['registration'] }}</h3>
            <p class="text-lg">
            Form Fields
            </p>
        </div>

        <div class="uk-width-1-2@m w-[250px] uk-card uk-card-body uk-card-default">
            <h3 class="uk-card-title text-2xl">{{ counts['schedule'] }}</h3>
            <p class="text-lg">
            Schedule Items
            </p>
        </div>

        <div class="uk-width-1-2@m w-[250px] uk-card uk-card-body uk-card-default">
            <h3 class="uk-card-title text-2xl">{{ counts['projects'] }}</h3>
            <p class="text-lg">
            Projects
            </p>
        </div>

        <div class="uk-width-1-2@m w-[250px] uk-card uk-card-body uk-card-default">
            <h3 class="uk-card-title text-2xl">{{ counts['judging'] }}</h3>
            <p class="text-lg">
            Scores Entered
            </p>
        </div>
    </div>
</div>
{% endblock %}