{% extends "base.html" %}
{% block title %}Judging{% endblock %}
{% block content %}
{% if not isJudge %}
{% include "navigation.html" %}
{% endif %}

<div class="mt-20 mx-12">
    <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Judging</h1>
    <div class="mt-12 flex justify-between items-center">
        <input class="uk-input" placeholder="Search..." onkeyup="search(this.value)">
        <script>
            const search = (value) => {
                const allTr = document.querySelectorAll("tr")
                const searchValue = value.toLowerCase()
                allTr.forEach(tr => {
                    if (tr.getAttribute("top") == "yes") return
                    const allTd = tr.querySelectorAll("td")
                    let match = false
                    allTd.forEach(td => {
                        const textValue = td.textContent.toLowerCase()
                        if (textValue.includes(searchValue)) match = true
                    })
                    if (match) tr.style.display = "table-row"
                    else tr.style.display = "none"
                })
                
            }
        </script>
    </div>
    <div class="uk-overflow-auto mt-4">
        <table class="uk-table uk-table-divider">
            <thead>
              <tr top="yes">
                <th>Project Name</th>
                <th>Group Members</th>
                <th>Scores</th>
                <th>Cumulative Score</th>
                <th>Average Score</th>
                <th>
                    <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project['name'] }}</td>
                        <td>{{ ", ".join(project['owner']) }}</td>
                        <td>{{ ", ".join(project['scores']) }}</td>
                        {% set total = namespace(value=0) %}{% for score in project['scores'] %}{% set total.value = total.value + score|float %}{% endfor %}
                        <td>{% if total.value > 0 %}{{ total.value }}{% else %}--{% endif %}</td>
                        <td>{% if project['scores'] | count != 0 %}{{ (total.value / project['scores'] | count) | round(2) }} {% else %} -- {% endif %}</td>
                        <td class="px-4 py-3 flex items-center justify-end">
                            <button class="uk-button uk-button-default ml-2" type="button"><i class="fa-solid fa-ellipsis"></i></button>
                            <div class="uk-drop uk-dropdown" uk-dropdown>
                            <ul class="uk-dropdown-nav uk-nav">
                                <li style="cursor: pointer;">
                                    <a uk-toggle="target: #links__{{ project['$id'] }}">View Project Links</a>
                                </li>
                                <li style="cursor: pointer;">
                                    <a uk-toggle="target: #comments__{{ project['$id'] }}">View Comments</a>
                                </li>
                                <li style="cursor: pointer;">
                                    <a uk-toggle="target: #score__{{ project['$id'] }}">View/Update Score</a>
                                </li>
                                {% if judgeScore %}
                                <li style="cursor: pointer;">
                                    <a uk-toggle="target: #delete__{{ project['$id'] }}" class="uk-text-danger">Remove Score</a>
                                </li>
                                {% endif %}
                            </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% for project in projects %}
<div id="links__{{ project['$id'] }}" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
      <h2 class="uk-modal-title">Project Links</h2>
      <div class="my-4">
        {% for link in project['links'] %}
            <a href="{{ link }}" class="uk-link" style="text-overflow: ellipsis; text-wrap: nowrap;" target="_blank">{{ link }}</a>
        {% endfor %}
      </div>
      <p class="uk-text-right">
        <button class="uk-modal-close uk-button uk-button-default" type="button">
        Close
        </button>
      </p>
    </div>
</div>

<div id="comments__{{ project['$id'] }}" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
      <h2 class="uk-modal-title">Score Comments</h2>
      <div class="my-4">
        {% for score in scores %}
            {% if score['projectId'] == project['$id'] %}
                <p class="text-foreground">{{ score['comment'] }}</p>
            {% endif %}
            {% endfor %}
      </div>
      <p class="uk-text-right">
        <button class="uk-modal-close uk-button uk-button-default" type="button">
        Close
        </button>
      </p>
    </div>
</div>

<div id="score__{{ project['$id'] }}" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
    {% if judgeScore %}
    <form method="post" action="/hackathon/{{ data['id'] }}/judging/updateScore/{{ project['$id'] }}">
    {% else %}
    <form method="post" action="/hackathon/{{ data['id'] }}/judging/submitScore/{{ project['$id'] }}">
    {% endif %}
      <h2 class="uk-modal-title">Submit/Update Score</h2>
      <div class="my-4 space-y-4">
        {% if judgeScore %}<input type="hidden" name="scoreId" value="{{ judgeScore['$id'] }}">{% endif %}
        <div>
            <label for="score" class="uk-form-label">Score</label>
            <input type="number" name="score" id="score" {% if judgeScore %}value="{{ judgeScore['score'] }}"{% endif %} class="uk-input" placeholder="Project Score" required="">
        </div>
        <div>
            <label for="comment" class="uk-form-label">Comments (optional)</label>
            <textarea id="comment" name="comment" rows="4" class="uk-textarea" placeholder="Enter your comments...">{% if judgeScore %}{{ judgeScore['comment'] }}{% endif %}</textarea>
        </div>
      </div>
      <p class="uk-text-right">
        <button class="uk-modal-close uk-button uk-button-default" type="button">
        Close
        </button>
        <button class="uk-button uk-button-primary" type="submit">
            Update
        </button>    
      </p>
    </form>
    </div>
</div>

<div id="delete__{{ project['$id'] }}" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
      <h2 class="uk-modal-title">Delete Score</h2>
      <p class="my-4">
        Are you sure you want to remove this score? This action is irreversible.
      </p>
      <p class="uk-text-right">
        <form method="post" action="/hackathon/{{ data['id'] }}/judging/deleteScore/{{ judgeScore['$id'] }}">
            <button class="uk-modal-close uk-button uk-button-default" type="button">
            Cancel
            </button>
            <button class="uk-button uk-button-danger" type="submit">Delete</button>
        </form>
      </p>
    </div>
</div>

{% endfor %}
{% endblock %}