{% extends "base.html" %}
{% block content %}

<style>
    img {
        border-radius: 20px;
        box-shadow: 0px 0px 99px -6px rgb(29, 29, 36);
    }
</style>

<div class="mt-20 mx-[5rem]">
    <div class="flex justify-between h-[70vh] items-center">
        <div>
            <h1 class="text-foreground mb-2 text-5xl uk-text-bold">organizeAIO</h1>
            <p class="text-foreground text-3xl">Your all-in-one tool to organize the best hackathon possible.</p>
            <div class="flex gap-4">
                <a href="/register" class="uk-button uk-button-primary mt-6">Get Started</a>
                <a href="#features" class="uk-button uk-button-default mt-6">Learn More</a>
            </div>
        </div>

        <img src="/static/landing-hero.png" alt="landing-hero" class="w-[800px]" style="box-shadow: none;">
    </div>
</div>
<br id="features"><br>

<div class="mt-20 mx-[5rem]">
    <div class="flex justify-between h-[70vh] items-center flex-row-reverse gap-24">
        <div class="mb-[300px]">
            <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Advanced Attendee Management</h1>
            <p class="text-foreground text-xl">Manage attendees easily with custom attributes, check-ins, and more.</p>
        </div>

        <img src="https://sharex.shuchir.dev/u/ZJSxg4.png" alt="landing-hero" class="w-[600px] mb-[300px]">
    </div>
</div>

<div class="mt-20 mx-[5rem]">
    <div class="flex justify-between h-[70vh] items-center gap-24">
        <div class="mb-[300px]">
            <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Customizable Registration Form</h1>
            <p class="text-foreground text-xl">With over 10 question types ranging from short answer to multiple choice, you can ask a participant anything you need to and get the data you need.</p>
        </div>

        <img src="https://sharex.shuchir.dev/u/UmJJYa.png" alt="landing-hero" class="w-[600px] mb-[300px]">
    </div>
</div>

<div class="mt-20 mx-[5rem]">
    <div class="flex justify-between h-[70vh] items-center flex-row-reverse gap-24">
        <div class="mb-[300px]">
            <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Event Schedule</h1>
            <p class="text-foreground text-xl">Keep your participants updated with your full event schedule, accessible at the click of a button.</p>
        </div>

        <img src="https://sharex.shuchir.dev/u/lQIVgh.png" alt="landing-hero" class="w-[600px] mb-[300px]">
    </div>
</div>

<div class="mt-20 mx-[5rem]">
    <div class="flex justify-between h-[70vh] items-center gap-24">
        <div class="mb-[300px]">
            <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Finances w/ HCB</h1>
            <p class="text-foreground text-xl">Running your money on HCB by Hack Club? organizeAIO can pull your finances and show them on your dashboard.</p>
        </div>

        <img src="https://sharex.shuchir.dev/u/NeJDzO.png" alt="landing-hero" class="w-[600px] mb-[300px]">
    </div>
</div>

<div class="mt-20 mx-[5rem]">
    <div class="flex justify-between h-[70vh] items-center flex-row-reverse gap-24">
        <div class="mb-[300px]">
            <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Project Gallery</h1>
            <p class="text-foreground text-xl">Participants can enter any number of links for their project, and organizeAIO will list all of them under a modal for you. Also, enable and disable the public project gallery so participants can see other projects.</p>
        </div>

        <img src="https://sharex.shuchir.dev/u/ZeimNI.png" alt="landing-hero" class="w-[600px] mb-[300px]">
    </div>
</div>

<div class="mt-20 mx-[5rem]">
    <div class="flex justify-between h-[70vh] items-center gap-24">
        <div class="mb-[300px]">
            <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Judging</h1>
            <p class="text-foreground text-xl">organizeAIO isn't just for organizers, it's for judges as well! Invite your judges through your settings page. Once invited, judges will only be able to see the judging page. Judges can submit scores/comments, and organizers/judges can see all project links, comments, and the total score.</p>
        </div>

        <img src="https://sharex.shuchir.dev/u/w5eIjz.png" alt="landing-hero" class="w-[600px] mb-[300px]">
    </div>
</div>

<div class="mt-20 mx-[5rem]">
    <div class="flex justify-between h-[70vh] items-center flex-row-reverse gap-24">
        <div class="mb-[300px]">
            <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Organize With a Team</h1>
            <p class="text-foreground text-xl">Organizing with a team? organizeAIO has you covered. You can invite your team members in the settings page, after which they'll see your event on their homepage.</p>
        </div>

        <img src="https://sharex.shuchir.dev/u/0clJTA.png" alt="landing-hero" class="w-[600px] mb-[300px]">
    </div>
</div>

<div class="mt-20 mx-[5rem]">
    <div class="flex justify-between h-[70vh] items-center gap-24">
        <div class="mb-[300px]">
            <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Public Event Page</h1>
            <p class="text-foreground text-xl">Your hackathon has its own home at an organizeAIO subdomain. Here, participants will be able to find more details about your event. Participants can get the schedule and judging criteria, view the project gallery, and register for the event.</p>
        </div>

        <img src="https://sharex.shuchir.dev/u/S7hvMI.png" alt="landing-hero" class="w-[600px] mb-[300px]">
    </div>
</div>


{% endblock %}