{% extends "base.html" %}
{% block title %}Email Blasts{% endblock %}
{% block content %}
{% include "navigation.html" %}


<div class="mt-20 mx-12">
    <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Email Blasts</h1>
    <div class="mt-12 flex justify-between items-center">
        <input class="uk-input w-[90%]" placeholder="Search..." onkeyup="search(this.value)">
        <button class="uk-button uk-button-primary" uk-toggle="target: #create_drawer">Send &nbsp; <i class="fa-solid fa-paper-plane"></i></button>
        <script>
            const search = (value) => {
                const allTr = document.querySelectorAll("tr")
                const searchValue = value.toLowerCase()
                allTr.forEach(tr => {
                    if (tr.getAttribute("top") == "yes") return
                    const allTd = tr.querySelectorAll("td")
                    let match = false
                    allTd.forEach(td => {
                        const textValue = td.textContent.toLowerCase()
                        if (textValue.includes(searchValue)) match = true
                    })
                    if (match) tr.style.display = "table-row"
                    else tr.style.display = "none"
                })
                
            }
        </script>
    </div>
    <div class="uk-overflow-auto mt-4">
        <table class="uk-table uk-table-divider">
            <thead>
              <tr top="yes">
                <th>Subject</th>
                <th>
                    <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ message['subject'] }}</td>

                    <td class="flex items-center justify-end">
                        <button class="uk-button uk-button-default ml-2" type="button" uk-toggle="target: #view__{{ message['$id'] }}">View</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% for message in messages %}
<div id="view__{{ message['$id'] }}" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
      <h2 class="uk-modal-title">View Message</h2>
      <p class="my-4">
        <div class="uk-margin">
            <label class="uk-form-label">Email Fields</label>
            {% for field in message['emailFields'] %}
            <input type="text" value="{{ field }}" class="uk-input" disabled>
            {% endfor %}
        </div>

        <div class="uk-margin">
            <div class="grid grid-cols-3">
                <div>
                    <label class="uk-form-label">Condition</label>
                    {% for condition in message['conditions'] %}
                        <p class="text-muted-foreground">{{ fieldToName[condition.split("(")[0]] }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label class="uk-form-label">Attribute</label>
                    {% for condition in message['conditions'] %}
                        <p class="text-muted-foreground">{{ condition.split("(")[1].split(",")[0].replace('"', "") }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label class="uk-form-label">Value</label>
                    {% for condition in message['conditions'] %}
                        <p class="text-muted-foreground">{{ condition.split("(")[1].split(", ")[1].replace('["', "").replace('"])', "") }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <label for="subject" class="uk-form-label">Subject Line</label>
            <input type="text" id="subject" value="{{ message['subject'] }}" class="uk-input" disabled>
        </div>

        <div class="uk-margin">
            <label for="message" class="uk-form-label">Message</label>
            <textarea id="message" class="uk-textarea" disabled>{{ message['message'] }}</textarea>
        </div>

      </p>
      <p class="uk-text-right">
            <button class="uk-modal-close uk-button uk-button-default" type="button">
            Close
            </button>
      </p>
    </div>
</div>
{% endfor %}
{% endblock %}