<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container my-4 mx-8" uk-navbar>
    <div class="uk-navbar-left">
      <h3 class="text-2xl">{{ data['name'] }}</h3>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li><a data-umami-event="navigate" data-umami-event-navigate="nav-overview" id="overview" href="/hackathon/{{ data['id'] }}">Overview</a></li>
        <li>
          <a href="#">More</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a data-umami-event="navigate" data-umami-event-navigate="nav-attendees" id="attendees" href="/hackathon/{{ data['id'] }}/attendees">Attendees</a></li>
              <li><a data-umami-event="navigate" data-umami-event-navigate="nav-form" id="form" href="/hackathon/{{ data['id'] }}/form">Registration Form</a></li>
              <li><a data-umami-event="navigate" data-umami-event-navigate="nav-schedule" id="schedule" href="/hackathon/{{ data['id'] }}/schedule">Schedule</a></li>
              <!-- <li><a data-umami-event="navigate" data-umami-event-navigate="nav-blasts" id="messages" href="/hackathon/{{ data['id'] }}/messages">Email Blasts</a></li> -->
              <li><a data-umami-event="navigate" data-umami-event-navigate="nav-finances" id="finances" href="/hackathon/{{ data['id'] }}/finances">Finances</a></li>
              <li><a data-umami-event="navigate" data-umami-event-navigate="nav-projects" id="projects" href="/hackathon/{{ data['id'] }}/projects">Projects</a></li>
              <li><a data-umami-event="navigate" data-umami-event-navigate="nav-judging" id="judging" href="/hackathon/{{ data['id'] }}/judging">Judging</a></li>
              <li><a data-umami-event="navigate" data-umami-event-navigate="nav-settings" id="settings" href="/hackathon/{{ data['id'] }}/settings">Settings</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<script>
  window.onload = () => {
    let activeClass = "uk-active";
    let nonactiveClass = "";

    window.path = window.location.pathname.split("/");
    if (path.length == 3) {
      path = "overview";
    } else {
      path = path[3];
    }
    document.getElementById(path).classList.add(activeClass);
  }
</script>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="p-4 mt-4 mx-4 md:mx-24 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}