{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
{% include "navigation.html" %}

<div class="mt-20 mx-12">
    <div class="flex justify-between">
        <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Projects</h1>
        <div class="flex gap-2 items-center">
            {% if data['showProjects'] %}
            <form method="post" class="h-full" action="/hackathon/{{ data['id'] }}/projects/hide">
                <button class="uk-button uk-button-default">
                    Hide Public Project Gallery
                </button>
            </form>
            {% else %}
            <form method="post" class="h-full" action="/hackathon/{{ data['id'] }}/projects/show">
                <button class="uk-button uk-button-default">
                    Show Public Project Gallery
                </button>
            </form>
            {% endif %}


            {% if data['allowProjectCreation'] %}
            <form method="post" class="h-full" action="/hackathon/{{ data['id'] }}/projects/dontallowcreation">
                <button class="uk-button uk-button-primary">
                    Close Project Submission
                </button>
            </form>
            {% else %}
            <form method="post" class="h-full" action="/hackathon/{{ data['id'] }}/projects/allowcreation">
                <button class="uk-button uk-button-primary">
                    Allow Project Submission
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    <br><br>


    <div class="mt-24 flex flex-wrap gap-4">
        {% for item in projects %}
        <div class="uk-width-1-2@m uk-card uk-card-body uk-card-default w-[500px]">
            <a class="flex justify-center"> <img class="rounded-lg h-32" src="data:image/jpeg;base64, {{ images[item['$id']] }}" alt="" /> </a>
            <h3 class="uk-card-title text-xl mb-0 mt-2">{{ item['name'] }}</h3>
            <p class="uk-margin mt-0">
            {{ ", ".join(item['owner']) }}
            </p>
            <div class="flex gap-2">
                <button type="button" uk-toggle="target: #links__{{ item['$id'] }}" class="uk-button uk-button-primary">Open Links</button>
                <button type="button" uk-toggle="target: #edit__{{ item['$id'] }}" class="uk-button uk-button-default"><i class="fa-regular fa-pen-to-square"></i></button>
                <button type="button" uk-toggle="target: #delete__{{ item['$id'] }}" class="uk-button uk-button-danger"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        {% endfor %}
    </div>
</div>


{% for item in projects %}
<div id="links__{{ item['$id'] }}" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
      <h2 class="uk-modal-title">Project Links</h2>
      <div class="my-4">
        {% for link in item['links'] %}
            <a href="{{ link }}" class="uk-link" style="text-overflow: ellipsis; text-wrap: nowrap;" target="_blank">{{ link }}</a>
        {% endfor %}
      </div>
      <p class="uk-text-right">
        <button class="uk-modal-close uk-button uk-button-default" type="button">
        Close
        </button>
      </p>
    </div>
</div>

<div id="delete__{{ item['$id'] }}" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
      <h2 class="uk-modal-title">Delete Project</h2>
      <p class="my-4">
        Are you sure you want to remove this project? This action is irreversible.
      </p>
      <p class="uk-text-right">
        <form method="post" action="/hackathon/{{ data['id'] }}/projects/delete/{{ item['$id'] }}">
            <button class="uk-modal-close uk-button uk-button-default" type="button">
            Cancel
            </button>
            <button class="uk-button uk-button-danger" type="submit">Delete</button>
        </form>
      </p>
    </div>
</div>

<div id="edit__{{ item['$id'] }}" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
      <h2 class="uk-modal-title">Update Project</h2>
      <form method="post" action="/hackathon/{{ data['id'] }}/projects/edit/{{ item['$id'] }}" enctype="multipart/form-data">
        <div class="my-4">
            <div>
                <label for="name" class="uk-form-label">Name</label>
                <input type="text" name="name" id="name" value="{{ item['name'] }}" class="uk-input" placeholder="Project name" required="">
            </div>
            <br>
            <div>
                <label for="owner" class="uk-form-label">Project Members (separated by a comma)</label>
                <input type="text" name="owner" id="owner" value="{{ ", ".join(item['owner']) }}" class="uk-input" placeholder="Project Members" required="">
            </div>
            <br>

            <div>
                <label class="uk-form-label">Links</label>
                <input type="hidden" name="links" id="links_input__{{ item['$id'] }}" value="{{ ','.join(item['links']) }}">
                <script>
                    const remove = (id) => {
                        console.log(id)
                        val = document.getElementById("links_input__{{ item['$id'] }}").value
                        val2 = document.getElementById(id).value

                        val = val.replace(val2, "").replace(",,", ",")
                        document.getElementById("links_input__{{ item['$id'] }}").value = val
                        document.getElementById(id).parentElement.remove()
                    }

                    const update = (id) => {
                        document.getElementById(id).setAttribute("value", document.getElementById(id).value)
                        allInputs = document.getElementsByClassName("{{ item['$id'] }}__link")
                        links = []
                        for (let i = 0; i < allInputs.length; i++) {
                            links.push(allInputs[i].value)
                        }
                        document.getElementById("links_input__{{ item['$id'] }}").value = links.join(",")
                    }

                    const add = () => {
                        document.getElementById("links_container__{{ item['$id'] }}").innerHTML += `
                        <div class="flex gap-4 mb-2" style="align-items: center;">
                            <input type="url" id="{{ item['$id'] }}__link_${document.getElementsByClassName("{{ item['$id'] }}__link").length}" class="{{ item['$id'] }}__link uk-input" onkeyup=update(this.id) placeholder="Link" required="">
                            <i class="fa-solid fa-circle-xmark text-white cursor-pointer" onclick=remove('{{ item['$id'] }}__link_${document.getElementsByClassName("{{ item['$id'] }}__link").length}')></i>
                        </div>
                        `
                    }
                </script>

                <div id="links_container__{{ item['$id'] }}" class="mb-2">
                {% for link in item['links'] %}
                <div class="flex gap-4 mb-2" style="align-items: center;">
                    <input type="url" value="{{ link }}" id="{{ item['$id'] }}__link_{{ item['links'].index(link) }}" class="{{ item['$id'] }}__link uk-input" onkeyup=update(this.id) placeholder="Link" required="">
                    <i class="fa-solid fa-circle-xmark text-white cursor-pointer" onclick=remove("{{ item['$id'] }}__link_{{ item['links'].index(link) }}")></i>
                </div>
                {% endfor %}
                </div>

                <a onclick="add()" class="uk-link uk-text-small cursor-pointer">Add Link</a>
                <br><br>
            </div>

            <div>
                <label class="uk-form-label" for="file">Upload Cover Image</label>
                <input class="uk-input" id="file" name="file" type="file">
            </div>
        </div>
        <p class="uk-text-right mt-4">
            <button class="uk-modal-close uk-button uk-button-default" type="button">
            Cancel
            </button>
            <button class="uk-button uk-button-primary" type="submit">Update</button>
        </p>
        </div>
    </form>
</div>
{% endfor %}
{% endblock %}