{% extends "base.html" %}
{% block title %}{{ data['name'] }}{% endblock %}
{% block content %}
{% include "public_navigation.html" %}
<div class="mt-20 mx-24">
    <h1 class="text-foreground mb-2 text-5xl uk-text-bold">{{ data['name'] }}</h1>
    {% set endDate = meta['endDate'] if meta['endDate'].split(",")[0] != meta['startDate'].split(",")[0] else meta['endDate'].split(", ")[1] %}
    <p class="text-muted-foreground text-2xl mb-2"><span class="font-semibold">{{ meta['startDate'] }}</span> to <span class="font-semibold">{{ endDate }}</span></p>
    <p class="text-muted-foreground text-xl mb-4">{{ meta['location'] }}</p>
    <a href="/register" class="uk-link text-lg">Register</a>
    <br><br>
</div>

<div class="mx-24 mt-24 mb-24 w-full md:w-3/4">
    <h1 class="text-foreground text-4xl uk-text-bold mb-6">Schedule</h1>
    {% for i in range(schedule|count) %}
    <div class="grid grid-cols-9">
        {% set item = schedule[i] %}
        {% if i == 0 or schedule[i-1]['startDateTime'].split(" ")[0] != item['startDateTime'].split(" ")[0] %}
            <h2 class="text-muted-foreground text-lg col-span-1 text-right">{{ item['startDateTime'].split(" ")[0] }}</h2>
        {% else %}
            <h2 class="text-muted-foreground text-lg col-span-1 text-right"></h2>
        {% endif %}

        <hr class="uk-divider-vertical col-span-1" />

        <div style="align-items: center" class="w-full md:w-[50%] mb-6 col-span-7">
            <h3 class="font-semibold text-2xl">{{ item['name'] }} {% if item['location'] %}@{%endif%} {{ item['location'] }}</h3>
            <p class="mb-4 text-lg text-muted-foreground">{{ " ".join(item['startDateTime'].split(" ")[1:]) }} <span class="font-light">to</span> {{ " ".join(item['endDateTime'].split(" ")[1:]) }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="mx-24 mt-20 mb-24 w-full md:w-3/4">
    <h1 class="text-foreground text-4xl uk-text-bold mb-6">Judging Criteria</h1>
    <p class="text-lg text-muted-foreground">{% if meta['judgingCriteria'] %}{{ meta['judgingCriteria'] | safe }}{% else %}No judging criteria available.{% endif %}</p>
</div>


{% endblock %}