<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container my-4 mx-8" uk-navbar>
    <div class="uk-navbar-left">
      <h3 class="text-2xl">{{ data['name'] }}</h3>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li><a id="attendees" href="/">Home</a></li>
        <li><a id="form" href="/register">Register</a></li>
        <li><a id="schedule" href="/projects">Projects</a></li>
      </ul>
    </div>
  </nav>
</div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="p-4 mt-4 mx-4 md:mx-24 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}