{% extends "base.html" %}
{% block title %}{{ data['name'] }}{% endblock %}
{% block content %}
{% include "public_navigation.html" %}

<div class="my-20 mx-24">
    <h1 class="text-foreground mb-2 text-5xl uk-text-bold">Register</h1>
    <br><br>
    <form action="/register" method="post" class="w-full md:w-1/2">
        <div class="gap-4">
            {% for attr in attrs['attributes'] %}
            {% if attr['key'] != "checkedIn" %}
            <div class="uk-margin flex flex-col mb-8">
                <label class="text-lg">{{ form[attr['key']]['placeholder'] }}</label>
                {% if form[attr['key']]["description"] %}
                <label class="text-muted-foreground">{{ form[attr['key']]['description'] }}</label>
                {% endif %}

                {% if form[attr['key']]["type"] != "checkbox" and form[attr['key']]["type"] != "radio" %}

                <div style="display: flex; gap: 5px; align-items: center;" class="mt-2">
                <input type="{{ form[attr['key']]["type"] }}" name="{{ attr['key'] }}" id="{{ attr['key'] }}" class="{% if form[attr['key']]['type'] == 'range' %}uk-radio w-full{% else %}uk-input{% endif %}" {% if form[attr['key']]['type'] == 'range' %}style="border-radius: 6px;"{% endif %}

                {% if form[attr['key']]["placeholder"] %}
                placeholder="{{ form[attr['key']]["placeholder"] }}"
                {% endif %}

                {% if form[attr['key']]["default"] %}
                value="{{ form[attr['key']]["default"] }}"
                {% endif %}

                {% if form[attr['key']]["required"] %}
                required="required"
                {% endif %}

                {% if form[attr['key']]["type"] == "range" %}
                min="{{ form[attr['key']]["options"][0] }}" max="{{ form[attr['key']]["options"][1] }}"
                {% endif %}
                
                {% if form[attr['key']]["type"] == "range" %}
                {% set attrkey = attr['key'] %}
                onchange="document.getElementById('{{ attrkey }}__value_add').innerHTML = this.value"
                {% endif %}
                >
                {% if form[attr['key']]["type"] == "range" %}
                <p class="text-foreground" id="{{ attr['key'] }}__value_add">{{ form[attr['key']]["default"] }}</p>
                {% endif %}
                </div>

                {% else %}
                <div class="mt-3"></div>
                {% for option in form[attr['key']]['options'] %}
                <label for="{{ attr['key'] }}__{{ option }}" class="uk-form-label mb-2 mt-1">
                    <input type="{{ form[attr['key']]["type"] }}" name="{{ attr['key'] }}" id="{{ attr['key'] }}__{{ option }}" class="uk-radio"

                {% if form[attr['key']]["default"] == option %}
                checked="checked"
                {% endif %}

                {% if form[attr['key']]["required"] %}
                required="required"
                {% endif %}

                value="{{ option }}"
                >

                {{ option | title }}</label>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <br>
            <div class="bottom-0 left-0 flex w-full pb-4 space-x-4">
                <button type="submit" class="uk-button uk-button-primary">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}