{% extends "base.html" %}
{% block title %}Registration Form{% endblock %}
{% block content %}
{% include "navigation.html" %}

<div class="mt-20 mx-12">
    <div class="flex justify-between">
        <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Registration Form</h1>
        <div class="flex gap-2 items-center">
            <form method="post" action="/hackathon/{{ data['id'] }}/reorder">
                <input type="hidden" name="order" id="order">
            <button id="reorderButton" class="uk-button uk-button-default" type="submit">
                Save Question Order
            </button>
            </form>
        
            <button id="createAttrButton" class="uk-button uk-button-primary" type="button" uk-toggle="target: #create_drawer">
                <i class="fa-solid fa-plus"></i> &nbsp; New
            </button>
        </div>
    </div>
    <br><br>

    <ul class="sortable">
        {% for item in form %}
        <li id="{{ item['$id'] }}" style="list-style: none; align-items: center" class="py-8 px-8 w-full md:w-[50%] mb-6 rounded-lg flex gap-8 bg-background">
            <i class="fa-solid fa-grip-vertical text-foreground" style="cursor: grab;"></i>
            <div class="flex justify-between w-full" style="align-items: center;">
                <div class="flex flex-col items-center">
                    <h3 class="text-2xl text-foreground font-bold">{{ item['placeholder'] }}</h3>
                    {% if item['description'] %} <p class="text-muted-foreground">{{ item['description'] }}</p>{% endif %}
                </div>
                <div class="flex gap-2">
                    <button id="editAttrButton" class="uk-button uk-button-default" type="button" uk-toggle="target: #edit_q_drawer__{{ item['$id'] }}">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
    
    
                    <button id="deleteAttrButton" class="uk-button uk-button-danger" type="button" uk-toggle="target: #delete_q_modal__{{ item['$id'] }}">
                        <i class="fa-solid fa-trash"></i>
                    </button>

                    <div id="delete_q_modal__{{ item['$id'] }}" uk-modal>
                        <div class="uk-modal-body uk-modal-dialog">
                          <h2 class="uk-modal-title">Delete Question</h2>
                          <p class="my-4">
                            Are you sure you want to remove this question? This action is irreversible.
                          </p>
                          <p class="uk-text-right">
                            <form method="post" action="/hackathon/{{ data['id'] }}/form/delete/{{ item['$id'] }}">
                                <button class="uk-modal-close uk-button uk-button-default" type="button">
                                Cancel
                                </button>
                                <button class="uk-button uk-button-danger" type="submit">Delete</button>
                            </form>
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>    
</div>


<script>
    $(function() {
            $('.sortable').sortable({
               update: function(event, ui) {
                  var productOrder = $(this).sortable('toArray').toString();
                  console.log(productOrder);
                  document.getElementById("order").value = productOrder;
               }
            });
         });
</script>

{% for item in form %}
<div id="edit_q_drawer__{{ item['$id'] }}" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-padding">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        
        <h3 class="text-2xl my-8">Update Question</h3>
        <form method="post" action="/hackathon/{{ data['id'] }}/form/edit/{{ item['$id'] }}">
            <div class="grid gap-4 mb-4 grid-cols-1">
                <div class="uk-margin">
                    <label for="question" class="uk-form-label">Question</label>
                    <input type="text" value="{{ item['placeholder'] }}" name="placeholder" id="question" class="uk-input" placeholder="Enter the question shown to participants" required="">
                </div>

                <div class="uk-margin">
                    <label for="description" class="uk-form-label">description</label>
                    <input type="text" {% if item['description'] %}value="{{ item['description'] }}"{% endif %} name="description" id="description" class="uk-input" placeholder="Question description">
                </div>
    
                <div class="uk-margin">
                    <label for="field_name" class="uk-form-label">Short Name - This will be used to identify the question in the Attendees table<br>WARNING: Changing this after creation will reset all values under this column in the attendees table.</label>
                    <input type="text" value="{{ item['field_name'] }}" name="field_name" id="field_name" class="uk-input" placeholder="Enter a short descriptor word" required="">
                </div>
    
                <div class="uk-margin">
                    <label for="type" class="uk-form-label">Question Type</label>
                    {% set itemid = item['$id'] %}
                    {% set itemtype = item['type'] %}
                    <select onchange="if (this.value == 'range' || this.value == 'radio') {document.getElementById('options_input__{{ itemid }}').setAttribute('style', 'display: block'); document.getElementById('options__{{ itemid }}').setAttribute('required', 'required')} else {document.getElementById('options_input__{{ itemid }}').setAttribute('style', 'display: none'); document.getElementById('options__{{ itemid }}').removeAttribute('required')}" name="type" id="type__{{ itemid }}" class="uk-select">
                    <option value="text" {% if item['type'] == 'text' %} selected {% endif %}>Text Input</option>
                    <option value="color" {% if item['type'] == 'color' %} selected {% endif %}>Color Input</option>
                    <option value="date" {% if item['type'] == 'date' %} selected {% endif %}>Date Input</option>
                    <option value="time" {% if item['type'] == 'time' %} selected {% endif %}>Time Input</option>
                    <option value="datetime-local" {% if item['type'] == 'datetime-local' %} selected {% endif %}>Datetime Input</option>
                    <option value="email" {% if item['type'] == 'email' %} selected {% endif %}>Email Address</option>
                    <option value="number" {% if item['type'] == 'number' %} selected {% endif %}>Number Input</option>
                    <option value="tel" {% if item['type'] == 'tel' %} selected {% endif %}>Phone Number</option>
                    <option value="url" {% if item['type'] == 'url' %} selected {% endif %}>Link Input</option>
                    <option value="radio" {% if item['type'] == 'radio' %} selected {% endif %}>Multiple Choice</option>
                    <option value="range" {% if item['type'] == 'range' %} selected {% endif %}>Range</option>
                    </select>
                </div>
    
                <div class="uk-margin" id="options_input__{{ item['$id'] }}" style="{% if item['type'] == 'radio' or item['type'] == 'range' %}display:block; {%else%}display: none;{%endif%}">
                    <label for="options" class="uk-form-label">For Radio/MCQ Inputs: Write the options you want separated by a comma. <br>For range inputs: write min,max where min and max are numbers that the range should fit. For example: 1, 5 would let participants pick a number from 1 to 5.</label>
                    <input type="text" value="{{ ", ".join(item['options']) }}" name="options" id="options__{{ itemid }}" class="uk-input" placeholder="Options" {% if item['type'] == 'radio' or item['type'] == 'range' %}required{%endif%}>
                </div>
    
                <div class="uk-margin">
                    <label for="default" class="uk-form-label">Optional - The form will preload with this value.</label>
                    <input type="text" {% if item['default'] %}value="{{ item['default'] }}"{%endif%} name="default" id="default" class="uk-input" placeholder="Preloaded Value">
                </div>
    
                <div class="uk-margin">
                    <label class="uk-form-label">Is this Question Required?</label>
        
                    <div class="uk-form-controls flex flex-col mt-4 gap-2">
                    <label for="required_y" class="uk-form-label">
                        <input type="radio" name="required" id="required_y" class="uk-radio" {% if item['required'] %}checked{%endif%} required="required">
                        Yes</label>
        
                        <label for="required_n" class="uk-form-label">
                            <input type="radio" name="required" id="required_n" class="uk-radio" {% if not item['required'] %}checked{%endif%} required="required">
                            No</label>
                    </div>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="uk-button uk-button-primary">
                    Update Question
                </button>
            </div>
        </form>
    </div>
</div>    
{% endfor %}

<div id="create_drawer" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-padding">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        
        <h3 class="text-2xl my-8">Create Question</h3>
        <form method="post" action="/hackathon/{{ data['id'] }}/form/add">
            <div class="grid gap-4 mb-4 grid-cols-1">
                <div class="uk-margin">
                    <label for="question" class="uk-form-label">Question</label>
                    <input type="text" name="placeholder" id="question" class="uk-input" placeholder="Enter the question shown to participants" required="">
                </div>
    
                <div class="uk-margin">
                    <label for="description" class="uk-form-label">Description</label>
                    <input type="text" name="description" id="description" class="uk-input" placeholder="Question description" required="">
                </div>
    
                <div class="uk-margin">
                    <label for="field_name" class="uk-form-label">Short Name - This will be used to identify the question in the Attendees table</label>
                    <input type="text" name="field_name" id="field_name" class="uk-input" placeholder="Enter a short descriptor word" required="">
                </div>
    
                <div class="uk-margin">
                    <label for="type" class="uk-form-label">Question Type</label>
                    <select onchange="if (this.value == 'range' || this.value == 'radio') {document.getElementById('options_input_c').setAttribute('style', 'display: block'); document.getElementById('options_c').setAttribute('required', 'required')} else {document.getElementById('options_input_c').setAttribute('style', 'display: none'); document.getElementById('options_c').removeAttribute('required')}" name="type" id="type" class="uk-select">
                    <option value="text" selected>Text Input</option>
                    <option value="color">Color Input</option>
                    <option value="date">Date Input</option>
                    <option value="time">Time Input</option>
                    <option value="datetime-local">Datetime Input</option>
                    <option value="email">Email Address</option>
                    <option value="number">Number Input</option>
                    <option value="tel">Phone Number</option>
                    <option value="url">Link Input</option>
                    <option value="radio">Multiple Choice</option>
                    <option value="range">Range</option>
                    </select>
                </div>
    
                <div class="uk-margin" id="options_input_c" style="display: none;">
                    <label for="options" class="uk-form-label">For Radio/MCQ Inputs: Write the options you want separated by a comma. <br>For range inputs: write min,max where min and max are numbers that the range should fit. For example: 1, 5 would let participants pick a number from 1 to 5.</label>
                    <input type="text" name="options" id="options_c" class="uk-input" placeholder="Options" required="">
                </div>
    
                <div class="uk-margin">
                    <label for="default" class="uk-form-label">Optional - The form will preload with this value.</label>
                    <input type="text" name="default" id="default" class="uk-input" placeholder="Preloaded Value">
                </div>
    
                <div class="uk-margin">
                    <label class="uk-form-label">Is this Question Required?</label>
        
                        <div class="flex flex-col gap-2 mt-2">
                            <label for="required_y" class="uk-form-label">
                            <input type="radio" name="required" id="required_y" class="uk-radio" checked="checked" required="required">
                            Yes</label>
            
                            <label for="required_n" class="uk-form-label">
                            <input type="radio" name="required" id="required_n" class="uk-radio" required="required">
                            No</label>
                        </div>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="uk-button uk-button-primary">
                    Create Question
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}