{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
{% include "navigation.html" %}

<div class="mt-20 mx-12">
    <div class="flex justify-between">
        <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Schedule</h1>
        <button id="createAttrButton" class="uk-button uk-button-primary" type="button" uk-toggle="target: #create_drawer">
            <i class="fa-solid fa-plus"></i> &nbsp; New
        </button>
    </div>
    <br><br>

    <ul>
        {% for item in schedule %}
        <li id="{{ item['$id'] }}" style="list-style: none; align-items: center" class="py-8 px-8 w-full md:w-[50%] rounded-lg flex gap-8 bg-background">
            <div class="flex justify-between w-full" style="align-items: center;">
                <div class="flex flex-col justify-center">
                    <h3 class="text-2xl text-foreground font-bold">{{ item['name'] }} {% if item['location'] %}@{%endif%} {{ item['location'] }}</h3>
                    <p class="text-muted-foreground">{{ item['startDateTime'] }} <span class="font-semibold">to</span> {{ item['endDateTime'] }}</p>
                </div>
                <div class="flex gap-2">
                    <button id="editAttrButton" class="uk-button uk-button-default" type="button" uk-toggle="target: #edit_q_drawer__{{ item['$id'] }}">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
    
    
                    <button id="deleteAttrButton" class="uk-button uk-button-danger" type="button" uk-toggle="target: #delete_q_modal__{{ item['$id'] }}">
                        <i class="fa-solid fa-trash"></i>
                    </button>

                    <div id="delete_q_modal__{{ item['$id'] }}" uk-modal>
                        <div class="uk-modal-body uk-modal-dialog">
                          <h2 class="uk-modal-title">Delete Schedule Item</h2>
                          <p class="my-4">
                            Are you sure you want to remove this item? This action is irreversible.
                          </p>
                          <p class="uk-text-right">
                            <form method="post" action="/hackathon/{{ data['id'] }}/schedule/delete/{{ item['$id'] }}">
                                <button class="uk-modal-close uk-button uk-button-default" type="button">
                                Cancel
                                </button>
                                <button class="uk-button uk-button-danger" type="submit">Delete</button>
                            </form>
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>    
</div>


{% for item in schedule %}
<div id="edit_q_drawer__{{ item['$id'] }}" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-padding">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        
        <h3 class="text-2xl my-8">Update Schedule</h3>
        <form method="post" action="/hackathon/{{ data['id'] }}/schedule/edit/{{ item['$id'] }}">
            <div class="grid gap-4 mb-4 grid-cols-1">
                <div class="uk-margin">
                    <label for="name" class="uk-form-label">Name</label>
                    <input type="text" value="{{ item['name'] }}" name="name" id="name" class="uk-input" placeholder="Item name" required="">
                </div>

                <div class="uk-margin">
                    <label for="description" class="uk-form-label">Description</label>
                    <input type="text" {% if item['description'] %}value="{{ item['description'] }}"{% endif %} name="description" id="description" class="uk-input" placeholder="description">
                </div>

                <div class="uk-margin">
                    <label for="location" class="uk-form-label">Optional: Location</label>
                    <input type="text" {% if item['location'] %}value="{{ item['location'] }}"{% endif %} name="location" id="location" class="uk-input" placeholder="e.g. Room 354">
                </div>
    
                <div class="uk-margin">
                    <label for="startDateTime" class="uk-form-label">Start Time</label>
                    <input type="datetime-local" value="{{ item['originalStart'] }}" name="startDateTime" id="startDateTime" class="uk-input" required="">
                </div>

                <div class="uk-margin">
                    <label for="endDateTime" class="uk-form-label">End Time</label>
                    <input type="datetime-local" value="{{ item['originalEnd'] }}" name="endDateTime" id="endDateTime" class="uk-input" required="">
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="uk-button uk-button-primary">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>   
{% endfor %}

<div id="create_drawer" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-padding">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        
        <h3 class="text-2xl my-8">New Schedule Item</h3>
        <form method="post" action="/hackathon/{{ data['id'] }}/schedule/add">
            <div class="grid gap-4 mb-4 grid-cols-1">
                <div class="uk-margin">
                    <label for="name" class="uk-form-label">Name</label>
                    <input type="text" name="name" id="name" class="uk-input" placeholder="Item name" required="">
                </div>

                <div class="uk-margin">
                    <label for="description" class="uk-form-label">Description</label>
                    <input type="text" name="description" id="description" class="uk-input" placeholder="description">
                </div>

                <div class="uk-margin">
                    <label for="location" class="uk-form-label">Optional: Location</label>
                    <input type="text" name="location" id="location" class="uk-input" placeholder="e.g. Room 354">
                </div>
    
                <div class="uk-margin">
                    <label for="startDateTime" class="uk-form-label">Start Time</label>
                    <input type="datetime-local" name="startDateTime" id="startDateTime" class="uk-input" required="">
                </div>

                <div class="uk-margin">
                    <label for="endDateTime" class="uk-form-label">End Time</label>
                    <input type="datetime-local" name="endDateTime" id="endDateTime" class="uk-input" required="">
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="uk-button uk-button-primary">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>   

{% endblock %}