{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
{% include "navigation.html" %}

<div class="mt-20 mx-12">
    <h1 class="text-foreground mb-2 text-4xl uk-text-bold">Settings</h1>
    <div class="mt-16">
        <form action="/hackathon/{{ data['id'] }}/settings" enctype="multipart/form-data" method="post" class="w-full md:w-1/3">
            <div class="flex flex-col gap-4">
                <div>
                    <label for="name" class="uk-form-label">Name</label>
                    <input type="text" name="name" id="name" value="{{ meta['name'] }}" class="uk-input" placeholder="Hackathon name" required="">
                </div>
                <div>
                    <label for="slug" class="uk-form-label">Slug</label>
                    <input type="text" name="slug" id="slug" value="{{ slug }}" class="uk-input" placeholder="Slug" required="">
                </div>
                <div>
                    <label for="startDate" class="uk-form-label">Start Date/Time</label>
                    <input type="datetime-local" name="startDate" id="startDate" value="{{ (meta['startDate']|string).replace(" ", "T").split("+")[0] }}" class="uk-input" placeholder="Enter Event Start Date" required="">
                </div>
                <div>
                    <label for="endDate" class="uk-form-label">End Date/Time</label>
                    <input type="datetime-local" name="endDate" id="endDate" value="{{ (meta['endDate']|string).replace(" ", "T").split("+")[0] }}" class="uk-input" placeholder="Enter Event End Date" required="">
                </div>
                <div>
                    <label for="location" class="uk-form-label">Location</label>
                    <input type="text" name="location" id="location" value="{{ meta['location'] }}" class="uk-input" placeholder="Hackathon Location" required="">
                </div>
    
                <div>
                    <label for="hcb_slug" class="uk-form-label">HCB Slug - Org must be in Transparency Mode</label>
                    <input type="text" name="hcb_slug" id="hcb_slug" value="{{ meta['hcb_slug'] }}" class="uk-input" placeholder="HCB Slug">
                </div>
    
                <div>
                    <label for="description" class="uk-form-label">Description (optional - this will be shown to participants)</label>
                    <textarea id="description" name="description" rows="4" class="uk-textarea" placeholder="Enter your description...">{{ meta['description'] if meta['description'] else "" }}</textarea>
                </div>
    
                <div>
                    <label for="judgingCriteria" class="uk-form-label">Judging Criteria (optional - this will be shown to participants and judges)</label>
                    <textarea id="judgingCriteria" name="judgingCriteria" rows="4" class="uk-textarea" placeholder="Enter the judging criteria...">{{ meta['judgingCriteria'] if meta['judgingCriteria'] else "" }}</textarea>
                </div>
    
                <div>
                    <label class="uk-form-label" for="file">Upload Logo</label>
                    <input class="uk-input" id="file" name="file" type="file">
                </div>
    
                <div>
                <label class="uk-form-label">Team Access</label>
                    <input type="hidden" name="teamIds" id="team_input" value="{{ ','.join(emails.values()|list) }}">
                    <script>
                        const remove = (id) => {
                            console.log(id)
                            val = document.getElementById("team_input").value
                            val2 = document.getElementById(id).value
    
                            val = val.replace(val2, "").replace(",,", ",")
                            document.getElementById("team_input").value = val
                            document.getElementById(id).parentElement.remove()
                        }
    
                        const update = (id) => {
                            document.getElementById(id).setAttribute("value", document.getElementById(id).value)
                            allInputs = document.getElementsByClassName("teamid_input")
                            links = []
                            for (let i = 0; i < allInputs.length; i++) {
                                links.push(allInputs[i].value)
                            }
                            document.getElementById("team_input").value = links.join(",")
                        }
    
                        const add = () => {
                            document.getElementById("team_container").innerHTML += `
                            <div class="flex gap-4" style="align-items: center;">
                                <input type="email"  id="teamid_input_${document.getElementsByClassName("teamid_input").length}" class="teamid_input uk-input mb-2" onkeyup=update(this.id) placeholder="Email" required="">
                                <i class="fa-solid fa-circle-xmark mb-2 text-white cursor-pointer" onclick=remove("teamid_input_${document.getElementsByClassName("teamid_input").length}")></i>
                            </div>
                            `
                        }
                    </script>
    
                    <div id="team_container">
                    {% for user in meta['teamIds'] %}
                    <div class="flex gap-4" style="align-items: center;">
                        <input type="email" value="{{ emails[user] }}" id="teamid_input_{{ meta['teamIds'].index(user) }}" class="teamid_input uk-input mb-2" onkeyup=update(this.id) placeholder="Email" required="">
                        <i class="fa-solid fa-circle-xmark mb-2 text-white cursor-pointer" onclick=remove("teamid_input_{{ meta['teamIds'].index(user) }}")></i>
                    </div>
                    {% endfor %}
                    </div>
    
                    <a onclick="add()" class="uk-link uk-text-small cursor-pointer" target="_blank">Add Member</a>
                </div>
    
                <div>
                <label class="uk-form-label">Judges</label>
                    <input type="hidden" name="judgeIds" id="judge_input" value="{{ ','.join(emails_j.values()|list) }}">
                    <script>
                        const remove_j = (id) => {
                            console.log(id)
                            val = document.getElementById("judge_input").value
                            val2 = document.getElementById(id).value
    
                            val = val.replace(val2, "").replace(",,", ",")
                            document.getElementById("judge_input").value = val
                            document.getElementById(id).parentElement.remove()
                        }
    
                        const update_j = (id) => {
                            document.getElementById(id).setAttribute("value", document.getElementById(id).value)
                            allInputs = document.getElementsByClassName("judgeid_input")
                            links = []
                            for (let i = 0; i < allInputs.length; i++) {
                                links.push(allInputs[i].value)
                            }
                            document.getElementById("judge_input").value = links.join(",")
                        }
    
                        const add_j = () => {
                            document.getElementById("judge_container").innerHTML += `
                            <div class="flex gap-4" style="align-items: center;">
                                <input type="email"  id="judgeid_input_${document.getElementsByClassName("judgeid_input").length}" class="judgeid_input uk-input mb-2" onkeyup=update_j(this.id) placeholder="Email" required="">
                                <i class="fa-solid fa-circle-xmark mb-2 text-white cursor-pointer" onclick=remove_j("judgeid_input_${document.getElementsByClassName("judgeid_input").length}")></i>
                            </div>
                            `
                        }
                    </script>
    
                    <div id="judge_container">
                    {% for user in meta['judgeIds'] %}
                    <div class="flex gap-4" style="align-items: center;">
                        <input type="email" value="{{ emails_j[user] }}" id="judgeid_input_{{ meta['judgeIds'].index(user) }}" class="judgeid_input uk-input mb-2" onkeyup=update_j(this.id) placeholder="Email" required="">
                        <i class="fa-solid fa-circle-xmark mb-2 text-white cursor-pointer" onclick=remove_j("judgeid_input_{{ meta['judgeIds'].index(user) }}")></i>
                    </div>
                    {% endfor %}
                    </div>
    
                    <a onclick="add_j()" class="uk-link uk-text-small cursor-pointer" target="_blank">Add Judge</a>
                </div>
                <br>
                <!-- <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">SMTP Settings</label>
                <div>
                    <label for="smtp_host" class="uk-form-label">Host</label>
                    <input type="text" name="smtp_host" id="smtp_host" value="{{ (meta['smtp_host'] | string).replace("None", "") }}" class="uk-input" placeholder="SMTP Host">
                </div>
                <div>
                    <label for="smtp_port" class="uk-form-label">Port</label>
                    <input type="text" name="smtp_port" id="smtp_port" value="{{ (meta['smtp_port'] | string).replace("None", "") }}" class="uk-input" placeholder="SMTP Port">
                </div>
                <div>
                    <label for="smtp_username" class="uk-form-label">Username</label>
                    <input type="text" name="smtp_username" id="smtp_username" value="{{ (meta['smtp_username'] | string).replace("None", "") }}" class="uk-input" placeholder="SMTP Username">
                </div>
                <div>
                    <label for="smtp_password" class="uk-form-label">Password</label>
                    <input type="text" name="smtp_password" id="smtp_password" value="{{ (meta['smtp_password'] | string).replace("None", "") }}" class="uk-input" placeholder="SMTP Password">
                </div>
                <div>
                    <label for="smtp_from" class="uk-form-label">From Email Address</label>
                    <input type="email" name="smtp_from" id="smtp_from" value="{{ (meta['smtp_from'] | string).replace("None", "") }}" class="uk-input" placeholder="From email address">
                </div>
                <div>
                    <label for="smtp_from_name" class="uk-form-label">Name to Show as Sender</label>
                    <input type="text" name="smtp_from_name" id="smtp_from_name" value="{{ (meta['smtp_from_name'] | string).replace("None", "") }}" class="uk-input" placeholder="Name to show as sender">
                </div>
                <div>
                    <label for="smtp_auth_method" class="uk-form-label">Auth Method</label>
                    <select id="smtp_auth_method" name="smtp_auth_method" class="uk-select">
                        <option {% if meta['smtp_auth_method'] == "ssl" %}selected{% endif %}>SSL</option>
                        <option {% if meta['smtp_auth_method'] == "starttls" %}selected{% endif %}>STARTTLS</option>
                      </select>
                </div>
                <br> -->
    
                <div class="flex pb-4 space-x-4 md:pr-4 pl-0 w-full">
                    <button type="submit" class="uk-button uk-button-primary">
                        Save
                    </button>
                    <button type="button" class="uk-button uk-button-danger" uk-toggle="target: #delete">
                        Delete Hackathon
                    </button>
                </div>
                
                <br><br>
            </div>
        </form>
    </div>
</div> 


<div id="delete" uk-modal>
    <div class="uk-modal-body uk-modal-dialog">
        <h2 class="uk-modal-title">Delete Hackathon</h2>
        <p class="my-4">
        Are you sure you want to remove this hackathon? This action is irreversible.
        </p>
        <p class="uk-text-right">
        <form method="post" action="/hackathon/{{ data['id'] }}/delete">
            <button class="uk-modal-close uk-button uk-button-default" type="button">
            Cancel
            </button>
            <button class="uk-button uk-button-danger" type="submit">Delete</button>
        </form>
        </p>
    </div>
</div>

{% endblock %}